@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  * {
    /* @apply border border-dashed border-[tomato] */
  }

  @keyframes spin {
      from {
        transform: rotate( 0deg );
      }
      to {
        transform: rotate( 360deg );
      }
  }

  .spin {
    animation: spin 40s linear infinite
  }
}